<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Notation Nation</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='abcjs-basic-min.js')}}"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <style>
		main {
			max-width: 770px;
			margin: 0 auto;
		}
		.row {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}
        @media (prefers-color-scheme: dark) {
            .status {
                background-color: #000000;
            }
        }
	</style>

</head>
  <body>
    <h1 id="title_display">Notation Nation's Sheet Music Generator</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    

    {% if model_loaded == false %}
    <div class="buttons">
      <form method="post">
        <input type="submit" value="Get Started!" id="start_btn" class="btn btn-success"> 
      </form>
    </div>

    {% else %}

    <div class="buttons">
      {% if recording == false %}

      <form method="post">
        <input type="submit" value="Start Recording" id="start_record_btn" class="btn btn-success"> 
      </form>

      {% else %}

      <form method="post">
        <input type="submit" value="Stop Recording" id="stop_record_btn" class="btn btn-danger"> 
      </form>

      {% endif %}

    </div>

    <div id="abcContent" style="display:none;"></div>

	<div class="container">
        <div id="paper"></div>
		<div class="row">
			<div>
				<button class="activate-audio btn btn-secondary" style="display:none;">Play</button>
				<button class="stop-audio btn btn-secondary" style="display:none;">Stop</button>
				<div class='audio-error' style="display:none;">Audio is not supported in this browser.</div>
			</div>
		</div>
	</div>
    {% endif %}


    
    <div id="loading">
      <div id="loader"></div>
      <h2 id="loader_text">Loading model...</h2>
    </div>

    


    <script src="{{url_for('static', filename='frontend.js')}}"></script>
    <script>
      $("#start_btn").click(function() {
        $("#loading").show();
      });

    </script>
  </body>
</html>